# Project files
target/
src/main/resources/static/
.classpath
.project
.settings/

# Intellij IDEA
.idea
*.iml

# VS Code
.vscode/

# Node, npm
node_modules/
package-lock.json

# Robot framework
**/test/report.html
**/test/log.html
**/test/output.xml

# Raml2html
api-doc.html