<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="style.css">
        <title>IoT Device Manager</title>
    </head>
    <body>
        <h1>Testing</h1>
        <div id="app"></div>
        <img src="/rest/device-icon?name=bticon.png"/>
        <img src="/rest/device-icon?name=wifiicon.png"/>
        <br/>
        <a href="/api-doc/index.html">API documentation</a>
        <script src="bundle.js"></script>
    </body>
</html>