html, body {
    height: 100%;
    width: 100%;
}

div.login-wrapper {
    display: flex;
    height: 100%;

    > div {
        width: 30%;
        min-width: 250px;
        margin: auto;
    }
}

.logout-btn {
    margin-top: 5px;
}

.error-alert {
    margin: 20px;
}

.data-form-button-container button{
    margin-right: 5px;
}

.loading-indicator-wrapper {
    position: absolute;
    top: 30%;
    left: 30%;
}