@import "node_modules/bootstrap/scss/bootstrap";

html, body, #app, #app>div {
    height: 100%;
    width: 100%;
}

nav {
    margin: 0 -15px;
}

#app>div {
    display: flex;
    flex-direction: column;

    div.row {
        flex: auto;
        display: flex;
    }
}

div.login-wrapper {
    display: flex;
    height: 100%;

    > div {
        width: 30%;
        min-width: 250px;
        margin: auto;
    }
}

.logout-btn {
    margin-top: 5px;
}

.error-alert {
    margin: 20px;
}

.data-form-button-container button{
    margin-right: 5px;
}

.loading-indicator-wrapper {
    position: absolute;
    top: 30%;
    left: 30%;
}

#maps-container {
    padding: 20px 10px;
    height: 100%;
}

#maps {
    height: 100%;
    border: 2px solid lightgrey;
}

@include media-breakpoint-down(sm) {
    div.row {
        flex-direction: column;
        > div {
            flex-direction: column;
            display: flex;
        }
    }
    .map-column {
        flex: 1;
    }
    #maps-container {
        display: flex;
        flex-direction: column;
        flex: auto;
    }
    #maps {
        flex: 1;
    }
}